---
import { IconBrandDiscord } from "@tabler/icons-react";

interface Props {
	title?: string;
	description?: string;
	primaryLabel?: string;
	primaryHref?: string;
	socialHref?: string;
}

const {
	title = "Want to start your own freelance business?",
	description = "Hundreds of freelance front-end devs are using the CodeStitch HTML and CSS component library. And most of them started their freelance venture from scratch.",
	primaryLabel = "Read the Complete Guide To Freelance Web Development",
	primaryHref = "https://codestitch.app/complete-guide-to-freelancing",
	socialHref = "https://discord.gg/fr4hSzYZ",
} = Astro.props;
---

<div class="relative site-container border-x overflow-hidden">
	<!-- Glow effects -->
	<div
		class="pointer-events-none absolute inset-0 flex items-center justify-center"
	>
		<div
			class="h-[300px] w-[800px] -translate-x-20 rotate-[-12deg] bg-gradient-to-t from-primary/30 to-primary/0 blur-3xl dark:from-primary/30"
		>
		</div>
		<div
			class="absolute h-[250px] w-[600px] translate-x-20 rotate-12 bg-gradient-to-b from-primary/20 to-primary/0 blur-3xl dark:from-primary/30"
		>
		</div>
	</div>

	<div class="relative mx-auto max-w-4xl px-4 py-24 text-center">
		<h2 class="mb-4 text-3xl font-semibold text-pretty md:text-4xl">
			{title}
		</h2>
		<p
			class="mx-auto mb-8 max-w-[600px] text-pretty text-muted-foreground md:text-lg"
		>
			{description}
		</p>
		<div class="flex flex-wrap items-center justify-center gap-4">
			<a
				href={primaryHref}
				target="_blank"
				class="inline-flex items-center justify-center rounded-4xl bg-primary py-2 px-5 font-medium text-primary-foreground transition-colors hover:bg-primary/80"
			>
				{primaryLabel}
			</a>
			<a
				href={socialHref}
				target="_blank"
				class="inline-flex items-center justify-center gap-2 rounded-4xl py-2 px-5 font-medium transition-colors hover:bg-muted hover:text-foreground"
			>
				<IconBrandDiscord className="size-4" aria-hidden="true" />
				Say hello on Discord
			</a>
		</div>
	</div>
</div>
